<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Azbuka.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Desondo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Melon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Ostin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Ostin_IM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>PriceTagDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RivGosh.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Tsum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>X5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>215A02801E1127B400CCAA2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B90710AE1C96E26500268CE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B92DCE151C845E60002AA184</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B93DB9AA1C50DAA500C8A7A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B93DB9C31C50DAA500C8A7A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B93DB9CE1C50DAA500C8A7A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9551CBA1D0187DC000F7736</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B970B8141CD209820066A66A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9A3FE171CA19E200060483D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9DA041D1C7210860051DF00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9DA04381C7210870051DF00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9DA04431C7210870051DF00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C67663311D7D976200398D58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
